body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar	{
    background-color : #ffceed;
}
.paragraph {
    width: 80%;
    text-align: justify;
}
.container-1 {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
}
.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}
@keyframes heartfade {
    0% {
        opacity : 1;
    }
    50% {
        opacity : 0;
    }
}
.heart {
    z-index : 999;
    animation : heartfade 6s linear;
    position : absolute; 
}
.heart:before,
.heart:after {
    content : "";
    background-color : #fc2a62;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
}

.heart:before {
    transform : rotate(45deg);
}

.heart:after {
    left : 10.5px;
    transform : rotate(135deg);
}